@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Passion One", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  text-transform: uppercase;
  min-height: 100vh;
  background-color: #190b23;
  color: #ffffff;
}

body a {
  color: #c71fac;
  transition: color ease-in 0.3s;
}
body a:hover {
  color: #cb4fb6;
}
